<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer">
  <tr mc:repeatable>
    <td align="center" valign="top">
      <table dir="ltr" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" id="templateColumns">
        <tr>
          <td width="50%" dir="ltr" align="center" valign="center" class="full" style="text-align: center;">

            <img src="https://placeholdit.co//i/260x380" style="max-width: 260px;" /> 
                            
          </td>
          <td align="center" valign="center" width="50%" dir="ltr" class="full leftAlign">
            <h1>Repeatable Content</h1>
            <h3>lorem ipsum dolor</h3>
            <h2>consectetur adipisicing</h2>
            <br />
            <br />
            You can also get a little fancy; repeat blocks and remove all text to make image galleries, or do the opposite and remove images for text-only blocks.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>