<tr>
  <td align="center" valign="top">
    <!-- BEGIN PREHEADER // -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePrefooter">
      <tr>
        <td valign="top" class="prefooterV3Content" mc:edit="bj_footer_v2_content">
          <a href="#">
             123.456.7910
          </a>
          <a href="#">
             123 Street Rd. Toronto, ON
          </a>
          <a href="#">
             hello@dolorsit.com
          </a>
          <a href="#">
             bonjour@dolorsit.com
          </a>
        </td>
      </tr>
    </table>
    <!-- // END PREHEADER -->
  </td>
</tr>